<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gettingstarted</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>cooper-hewitt/CooperHewitt-Book.ttc</string>
		<string>source-sans-pro/SourceSansPro-Regular</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>gettingstarted</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
